body {
    margin: 0;
    padding: 0;
    background-color: #0a1821;
    height: 100vh;
    width: 100vw;
    color: #fff;
    text-align: center;
    direction: rtl;
    font-family:'IranianSans';

  }


  
  
   @font-face {
    font-family:'IranianSans';
    src: url('../src/font/IranianSans.eot');
    src: url('../src/font/IranianSans.eot?#iefix') format('embedded-opentype'),
         url('../src/font/IranianSans.svg#IranianSans') format('svg'),
         url('../src/font/IranianSans.ttf') format('truetype'),
         url('../src/font/IranianSans.woff') format('woff'),
         url('../src/font/IranianSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }



  .not-found {
    width: 560px;
    height: 225px;
    margin-right: -10px;
  }
  .starry-sky {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .search-icon {
    display: inline-block;
  }
  .notfound-copy {
    color: #fff;
    position: fixed;
    top: 25px;
    right: 10%;
    text-align: right;
  }
  h1 {
     font-weight: 700px;
    font-size: 80px;
  }





  a {
    font-weight: 300;
    color: #fff;
    border-bottom: 1.5px solid #5581d4;
    text-decoration: none;
  }
  a:hover {
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
    text-decoration: none;
  }

  /* change to alternating star opacities */
  .all-stars {
    animation: blinkblink 3s linear infinite;
  }
  
  @keyframes blinkblink {  
    50% { opacity: 0.1; }
  }
  /* .moon {
      
  } */


  @media (max-width: 647px) { 
    .moon {
      padding-top: 500px;
    }
  }