
@font-face {
  font-family: 'IranianSans';
  src: url('../../src/font/IranianSans.eot');
  src: url('../../src/font/IranianSans.eot?#iefix') format('embedded-opentype'),
       url('../../src/font/IranianSans.svg#IranianSans') format('svg'),
       url('../../src/font/IranianSans.ttf') format('truetype'),
       url('../../src/font/IranianSans.woff') format('woff'),
       url('../../src/font/IranianSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'IranianSans';
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;

}
section{
  text-align: right;
  direction: rtl;
  color: #000000;
}

.sec-title {
  position: relative;
  padding-bottom: 40px;
}
.sec-title .title {
  position: relative;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
  margin-bottom: 15px;
  display: inline-block;
  text-transform: capitalize;
}
.sec-title .title:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 7px;
  width: 40px;
  height: 1px;
  background-color: #bbb;
}
.sec-title h2 {
  position: relative;
  color: #252525;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5em;
  display: block;
}
.sec-title.light h2 {
  color: rgb(0, 0, 0);
}
.contact-page-section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
}
.contact-page-section .inner-container {
  position: relative;
  z-index: 1;
  background-color: rgba(9, 37, 245, 0.529);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
.contact-page-section .form-column {
  position: relative;
  padding: 0 0 0 15px;
}
.contact-page-section .form-column .inner-column {
  position: relative;
  padding: 60px 45px 30px;
  background-color: #fff;
}
.contact-page-section .info-column {
  position: relative;
}
.contact-page-section .info-column .inner-column {
  position: relative;
  padding: 60px 35px;
}
.contact-page-section .info-column h2 {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 45px;
}
.contact-page-section .info-column .list-info {
  position: relative;
  margin-bottom: 60px;
}
.contact-page-section .info-column .list-info li {
  position: relative;
  margin-bottom: 25px;
  font-size: 18px;
  color: #fff;
  line-height: 1.8em;
  padding-left: 45px;
}
.contact-page-section .info-column .list-info li:last-child {
  margin-bottom: 0;
}
.contact-page-section .info-column .list-info li i {
  position: absolute;
  left: 0;
  top: 8px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}
.contact-form {
  position: relative;
}
.contact-form .form-group {
  position: relative;
  margin-bottom: 20px;
}




.social-icon-four {
  position: relative;
}
.social-icon-four li {
  position: relative;
  margin-right: 18px;
  display: inline-block;
}
.social-icon-four li.follow {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
}
.social-icon-four li a {
  position: relative;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social-icon-four li a:hover {
  color: #222;
} 
h1,h2,h3,h4{
  color: rgb(164, 57, 240);
}