* {
  margin: 0;
  padding: 0;
  outline: none;
   font-family:'IranianSans' ;
   box-sizing: border-box;


}

:root {
  --main-color: #fff;
  --second-color: #347deb;
  --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

}

@font-face {
  font-family: 'IranianSans';
  src: url('../../src/font/IranianSans.eot');
  src: url('../../src/font/IranianSans.eot?#iefix') format('embedded-opentype'),
       url('../../src/font/IranianSans.svg#IranianSans') format('svg'),
       url('../../src/font/IranianSans.ttf') format('truetype'),
       url('../../src/font/IranianSans.woff') format('woff'),
       url('../../src/font/IranianSans.woff2') format('woff2');
  font-style: normal;
}



html {
  height:100%;
  
}
body {
  background-image: linear-gradient(310deg, #df98fa, #9055ff);

}

#container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 background-color: var(--main-color);

  border-radius: 10px;
  display:grid;
  grid-template-columns: repeat(2, 50%);
  box-shadow: var(--box-shadow);
  transition-duration: 1s;
}

#left, #right {
  margin: auto;
  width: 95%;
  height: 96%;
  border-radius: 10px;
}

#left {
  background-image: url("https://s19.picofile.com/file/8438124692/signup2.png");
  background-size: cover;
  background-position: center;
  box-shadow: var(--box-shadow);
  padding-bottom:10px ;
}



.signup {
  padding-bottom:2%;
  padding-left:80%;
  font-size:15px;
    padding-top:5%;
  text-transform: uppercase;
  font-weight:30%;
  text-shadow: var(--box-shadow);

}


.client-info {
  display: block;
  margin: 20px auto;
  width: 60%;
  height: 50px;
  border: solid #999 1px;
  border-radius: 5px;
  text-indent: 15px;
  transition: all 200ms;
  box-shadow: var(--box-shadow);
}
.client-info:focus {
  width: 80%;
}

label {
  position: absolute;
	font-size: 12px;
	white-space: nowrap;
	background: #fff;
	padding: 0 5px;
	color: #999;
  transition: all 200ms;
  text-shadow: var(--box-shadow);
}



#submit {
  text-align: center;
  border: none;
  background-color: #9055ff;
  color: white;
  width: 60%;
  align-items: center;
  font-family:'IranianSans' ;

  
  
}
#submit:hover {
  background-color: #5a1f9d;
}


@media (max-width: 1250px) {
 
  #container {
    width: 600px;
    display: block;
  }
  #left {
    display: none;
    width: 5%;
    float: left;
  }
  #right {
    margin-top:0 px;
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow);
    width:95%;
    float: left;
    padding-left:5%;

  }
 
}

@media (max-height: 768px) {
 
  #container {
    width: 90vw;
    height: 95vh;
  }
  #signup {
    padding-top: 0%;
    font-size: 30px;
    padding-right :240px;
    padding-left :60px;
    padding-bottom:0px;
    
  }

#link{
  font-size: 15px;
  padding-bottom: 20px;
padding-top: 2px;

}

#link2{
font-size: 15px;
padding-left: 0px;
padding-bottom: 555px;
}
input[type=text], input[type=password]{
    width: 80%;
  height: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
  flex: 1;
  padding: 13px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
  font-family:IranianSans ;

}
.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.select{
  width: 100%;
  display: inline-block;
  padding: 0px;
  font-size: 16px;
  box-shadow: var(--box-shadow);
}





.container i {
  margin-left: -30px;
  cursor: pointer;
}

a:link {
  text-decoration: none 
}
a:hover {
  text-decoration: none;
color: rgb(194, 107, 209);
}

.linkhome{
  font-size: 12px;
}



/*.containerco i {
  margin-left: -30px;
  cursor: pointer;
}*/

}



/***/     
.form-control {
  padding:1px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-control.error input {
  border-color: red;
}

.form-control.success input {
  border-color: rgb(40, 238, 22);
}

.form-control.error small {
  color: red;
  visibility: visible;
  font-size: 13px;
}

.form-control input {
  margin: 10px;
  padding:1px;
}

.submit {
  display: flex;
  justify-content: center;
}

button {
  padding: 1rem 2rem;
  margin-top: 1rem;
  justify-content: center;
  width: 100%;
  background: lightcoral;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

small {
  visibility: hidden;
  direction:rtl ;
  text-align: center;
}


/************/






input:focus,select { 
    -moz-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgb(206, 195, 195);
	  overflow: hidden; 
}





/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}
