

@font-face {
  font-family: 'IranianSans';
  src: url('../../src/font/IranianSans.eot');
  src: url('../../src/font/IranianSans.eot?#iefix') format('embedded-opentype'),
       url('../../src/font/IranianSans.svg#IranianSans') format('svg'),
       url('../../src/font/IranianSans.ttf') format('truetype'),
       url('../../src/font/IranianSans.woff') format('woff'),
       url('../../src/font/IranianSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}




* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family:'IranianSans';
  box-sizing: border-box;
  }


:root {
  --main-color: #fff;
  --second-color: #347deb;
  --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

}

html {
  height: 100%;
  direction: rtl;

}
body {
  background-image: linear-gradient(310deg, #df98fa, #9055ff);

}

#container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  width: 1200px;
  height: 800px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  box-shadow: var(--box-shadow);
  transition-duration: 1s;
}

#left, #right {
  margin: auto;
  width: 95%;
  height: 96%;
  border-radius: 10px;

}

#left {
  /**/
  background-image: url("https://s19.picofile.com/file/8438044992/d.png");
    background-size: cover;
  background-position: center;
  box-shadow: var(--box-shadow);
}

#form-massages{
  background-color: rgb(255, 232, 232);
  border: 1px solid red;
  color: red;
  display: none;
  font-size: 12 px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 25px;
  max-width: 250px;
}

.userlogin {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right:20px;
  text-transform: uppercase;
  font-weight: 888888px;
  text-shadow: var(--box-shadow);
  font-family:'IranianSans';

}
.client-info {
  display: block;
  margin: 20px auto;
  width: 60%;
  height: 50px;
  border: solid #999 1px;
  border-radius: 5px;
  text-indent: 15px;
  transition: all 200ms;
  box-shadow: var(--box-shadow);
}
.client-info:focus {
  width: 80%;
}
label {
  position: absolute;
  margin: -76px 130px;
	font-size: 12px;
	white-space: nowrap;
	background: #fff;
	padding: 0 5px;
	color: #999;
  transition: all 200ms;
  text-shadow: var(--box-shadow);
}
#email:focus ~ label[for="username"] {
  margin: -76px 70px;
}
#password:focus ~ label[for="password"] {
  margin: -76px 70px;
}
#submit {
  border: none;
  background-color: #9055ff;
  color: white;
  width: 60%;
  
  
}
#submit:hover {
  background-color: #c04bee;
}


@media (max-width: 1250px) {
 
  #container {
    width: 600px;
    display: block;
  }
  #left {
    display: none;
    width: 10%;
    float: left;

  }
  #right {
    margin-top:16px;
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow);
    width:90%;
    float: left;
  }

  
}
@media (max-height: 768px) {
 
  #container {
    width: 85vw;
    height: 85vh;
  }
  #login {
    padding-top: 10%;
    font-size: 30px;
    padding-right :0px;
    padding-bottom:80px;
    
  }

#link{
font-size: 13px;
padding-right :60%;
padding-bottom: 20px;
}

#link2{
  font-size: 15px;
padding-left: 0px;
padding-top: 0px;

}
input[type=text], input[type=password] {
  width: 90%;
  height: 5%;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  flex: 1;
  padding: 13px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;

}
.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
}

.checkbox{
  padding-top:50px;
  padding-bottom:50px;

}
a:link {
  text-decoration: none 
}
a:hover {
  text-decoration: none;
color: rgb(194, 107, 209);
}
}

.linkhome{
  font-size: 12px;
  padding-right:73%;
}


/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
/*******/
