
body {
 font-family:'IranianSans';
}


.mySlides {display: none}

.dark-mode {
  background-color: #282E44;
  color: white;
}

@font-face {
  font-family:'IranianSans';
  src: url('../src/font/IranianSans.eot');
  src: url('../src/font/IranianSans.eot?#iefix') format('embedded-opentype'),
       url('../src/font/IranianSans.svg#IranianSans') format('svg'),
       url('../src/font/IranianSans.ttf') format('truetype'),
       url('../src/font/IranianSans.woff') format('woff'),
       url('../src/font/IranianSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.label{
position: relative;
width:90px;
height:36px;
}

/* input{
    transform: scale(0);
} */
.background{
  position: absolute;
  left: 0;
  height:0.9cm;
  width: 2cm;
  border-radius: 20px;
  background: #c6c8d6;
  transition: b 0.4s;


}


.knob{
    position: absolute;
    top: 2x;
    left: 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #f7f7f7;
    transition: transform 0.4s;
    
}
/* input:checked
+ .background{
    background:#32323d;
}
input:checked
+ .background.knob{
    transform:
translateX(54px);
} */


.nextround{
  padding-top:100px ;
  
}