
.row {
  border-bottom: 0px solid #d8d8d8;
  padding: 0px 0px 0px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.row:first-of-type {
  margin-top: 0;
}

.row:last-of-type {
  border-bottom: 0px solid #fff;
}
.row .field {
  display: inline-block;
  position: relative;
  border-right: 0px solid #d8d8d8;
  margin-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;
}
.row .field:first-of-type {
  margin-left: 0;
}
.row .field:last-of-type {
  border-right: 1px solid #fff;
  padding-right: 0;
}
.row .field label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #9aa9aa;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;
  margin-top: 10px;
  margin-bottom: -10px;
}



.row .field input,textarea {
  margin: 40px auto;
  direction:rtl;
  text-align: right;
  background: transparent;
  text-align: right;
  font-size: 16px;
  color: rgb(68, 68, 68);
  border: 11px solid rgba(150, 150, 150, 0);
  margin: 0 0 0 -2px;
  height:fit-content;
  line-height:initial;
  box-sizing: border-box;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;
  
}


.row .field ,select{
  margin: 40px auto;
  direction:rtl;
  text-align: right;
  background: transparent;
  text-align: right;
  font-size: 16px;
  color: rgb(68, 68, 68);
  border: 11px solid rgba(150, 150, 150, 0);
  margin: 0 0 0 -2px;
  height:fit-content;
  line-height:initial;
  box-sizing: border-box;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;
  
}

.button {
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button a {
  color:black;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
}
.button a.edit {
  color: #111213;
  text-shadow: 1px 1px 0 #fff;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;
}
.button a.edit:hover {
  color: #5c5f64;

}
.button a.save {
  display: none;
  color: rgb(85, 76, 250);

}

.button a.save:hover {
  color: rgb(18, 6, 253);

}



html.active .row {
  border-bottom: 1px solid #fff;
}
html.active .row .field {
  margin-left: 13px;
  padding-right: 13px;
  border-right: 1px solid #fff;
}
html.active .row .field:first-of-type {
  margin-left: 0;
}
html.active .row .field:last-of-type {
  border: none;
  padding-right: 0;
}
html.active .row .field label {
  margin-top: 0;
  margin-bottom: 0;
}


 html.active .row .field select{
  margin-left: -16px;
  padding: 0 15px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  -moz-box-shadow: inset 1px 1px 4px 0px rgba(220, 220, 220, 0.5);
  box-shadow: inset 1px 1px 4px 0px rgba(220, 220, 220, 0.5);
  height: 40px;
  line-height: 40px;
} 

html.active .row .field input {
  margin-left: -16px;
  padding: 0 15px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  -moz-box-shadow: inset 1px 1px 4px 0px rgba(220, 220, 220, 0.5);
  box-shadow: inset 1px 1px 4px 0px rgba(220, 220, 220, 0.5);
  height: 40px;
  line-height: 40px;
}



html.active .row .field textarea {
padding-bottom: 20%;
padding-top: 1%;
padding-right: 5%;
padding-left: 5%;
width: 100%;
-moz-box-shadow: inset 1px 1px 4px 0px rgba(220, 220, 220, 0.5);
box-shadow: inset 1px 1px 4px 0px rgba(220, 220, 220, 0.5);
}


html.active .row .field select:focus {
  outline: none;
  border: 1px solid #18a6f5;
} 

html.active .row .field input:focus {
  outline: none;
  border: 1px solid #18a6f5;
}

html.active .button a.edit {
  display: none;
}
html.active .button a.save {
  display: inline-block;
}
